header {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    
    .header-wrapper {
        display: flex;
        margin-left: 213px;
        padding: 17px 0;
        animation: 1s ease-out 0s 1 bounce;
        
        .header-content {
            margin-left: 13px;
            text-align: left;
        }
        
        .header-title {
            font-size: 12px;        
            line-height: 14.06px;
            margin: 0;
        }
        
        .header-desc {
            font-size: 16px;
            font-weight: 700;
            margin: 0;
        }
    }    
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-10px);} 
    60% {transform: translateY(-5px);} 
 } 

@media only screen and (max-width: 998px) {
    header {
        width: 100%;
        .header-wrapper {
            margin-left: 24px;
        }
    }    
}