* {  
  font-family: 'Work Sans', sans-serif;
}

html {
  scrollbar-width: thin;
  scrollbar-color: rgb(161, 176, 182) #fff;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: rgb(161, 176, 182);
  border-radius: 20px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: rgb(92, 96, 97)
}

html::-webkit-scrollbar-track {
  background-color: #fff;
}

body, h1, h5, p, ol, li {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  overflow: hidden;
}